.all-contents{
    display: flex;
}

.left-contents{
    width: 20%;
    text-align: center;
}

.right-contents{
    width: 80%;
}

.left-title {
    padding-top: 0px;
    margin: 8px 20px 10px 20px;
    border-top: 1px dotted black;
}

.keyword {
    padding: 10px;
    font-size: 16px;
    width: 70%;
}

.submit-button {
    padding: 5px 6px 9px 6px;
    font-size: 16px;
    width: 16%;
    margin-left: 5px;
}

.categories-name {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}

.category-name {
    font-size: 20px;
    background-color: #d386fa8b;
    color: #bd24f9;
    font-weight: bold;
    margin: 15px 20px;
    padding: 6px 0;
    border-radius: 25px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.category-link {
    padding: 8px 50px;
    border-radius: 25px;
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 1;
}

.category-link:hover {
    background-color: #ddd;
    box-shadow: 0 0 0 1000px #ddd;
    z-index: 2;
}

.category-link.active {
    background-color: rgb(209, 106, 254);
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 0 1000px rgb(209, 106, 254);
    z-index: 2;
}

.product-contents{
    display: flex;
    flex-wrap: wrap;
}

.product-content{
    margin: 15px 30px;
    background:#eb88fd53;
}

.add-button{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.add_button {
    margin: 45px 20px 0 20px;
    border-radius: 10px;
    background-color: rgb(234, 124, 254);
    padding: 10px;
}

.product-name{
    color: rgb(166, 27, 240);
    font-weight: bold;
}

.product-name p{
    text-align: center;
    margin: 8px;
}

#image-preview{
    width: 310px;
    height: 310px;
}

.product-link{
    text-decoration: none;
}

.product-link img{
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 0;
}

.page-link {
    text-decoration: none;
    font-size: 20px;
}

li {
    margin-right: 5px;
    padding: 0 9px;
    background-color: #fff;
    border-radius: 50%;
}

.pagination .active {
    background-color: #df2dff8b;
    color: white;
}

.mypage__btn {
    font-size: 18px;
    color: rgb(0, 183, 255);
    text-decoration: none;
    font-weight: bold;
}

.mypage_btn {
    padding: 5px 0 0 0;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    #image-preview {
        width: 265px;
        height: 265px;
    }

    .product-content {
        margin: 60px 5px 20px 5px;
    }

    .keyword {
        width: 60%;
    }

    .submit-button {
        width: 20%;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    #image-preview {
        width: 175px;
        height: 175px;
    }

    .product-content {
        margin: 10px 5px 10px 5px;
    }

    .left-contents {
        width: 30%;
    }

    .category-link {
        padding: 8px 20px;
    }

    .keyword {
        width: 58%;
    }

    .submit-button {
        width: 25%;
    }

    .product-contents {
        justify-content: left;
    }
}