.heading {
    text-align: center;
    font-size: 23px;
}

.contents {
    display: flex;
}

.left-contents {
    width: 50%;
    padding: 30px;
}

.right-contents {
    width: 50%;
    padding: 30px;
}

.form__group {
    margin-bottom: 50px;
}

.form__label {
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.form__img {
    text-align: center;
}

#image-preview {
    width: 500px;
}

.file-btn {
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid rgb(209, 106, 254);
    padding: 2px 10px;
    color: rgb(209, 106, 254);
    background-color: #fff;
    font-weight: bold;
}

.form__text {
    width: 85%;
    padding: 10px;
    font-size: 18px;
    margin-top: 5px;
}

.post-form__btn {
    width: 85%;
    padding: 7px;
    color: #fff;
    background-color: rgb(209, 106, 254);
    font-size: 18px;
    border: 1px solid rgb(209, 106, 254);
    border-radius: 5px;
    margin-top: 100px;
}

.form__error {
    height: 25px;
    color: #ff0000;
    text-align: left;
    margin-top: 3px;
    font-size: 18px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.category-item input {
    display: none;
}

.category-label {
    display: inline-block;
    padding: 5px 16px;
    border-radius: 20px;
    border: 2px solid rgb(209, 106, 254);
    color: rgb(209, 106, 254);
    background-color: #fff;
}

input[type="radio"]:checked+label {
    background-color: rgb(209, 106, 254);
    color: #fff;
}

@media (min-width: 768px) and (max-width: 850px) {
    #image-preview {
        width: 280px;
    }

    .left-contents {
        width: 40%;
    }

    .right-contents {
        width: 60%;
    }
}