.form {
    text-align: center;
    background: linear-gradient(#e134ff53, #ffa64640);
    padding: 110px 20px;
}

.form__heading {
    font-weight: bold;
}

.form__group {
    margin: 0 auto;
    width: 40%;
}

.register-form__label {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.register-form__input {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}

.form__error {
    height: 25px;
    color: #ff0000;
    text-align: left;
}

.register-form__btn {
    width: 100%;
    padding: 8px 0;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background: #df2dff8b;
    border: none;
    border-radius: 3px;
    margin: 50px 0 20px 0;
}

.login__btn {
    color: #fe882dfd;
    text-decoration: none;
}